@{
    ViewBag.Title = "Home Page";
}



<div style="margin:3%;" class="row">
  <img src="https://tecnosoluciones.com/wp-content/uploads/2020/04/El-futuro-del-comercio-electr%C3%B3nico-es-el-servicio-de-reservaciones.jpg"/>  
</div>