
.form-horizontal {
    margin: auto;
    margin-top: 4%;
    width: 50%;
    background-color: #97BBB5;
    padding: 50px;
    color: white;
}

.btn-default {
    color: white !important;
    background-color: #FF8C00;
    font-weight: bold;
    width: 40%;
}

.button_position {
    text-align: center;
    margin-top: 10%;
    margin-left: 25%;
}

.form-group {
    margin-top: 3%;
}

