
.form-horizontal {
    margin: auto;
    margin-top: 4%;
    width: 50%;
    background-color: #97BBB5;
    padding: 50px;
    color: white;
}

.btn-default {
    color: white !important;
    background-color: #FF8C00;
    font-weight: bold;
    width: 15%;
}


.form-group {
    text-align: left;
    margin-top: 3%;
}

