
@{
    ViewBag.Title = "UnAuthorized";
}

<h2>No Autorizado!</h2>

<input type="button" value="<< Regresar a la página principal" class="btn btn-danger" onclick="goBack()" />


<script>
    function goBack() {
        window.history.back();
    }
</script>